<h4>Mixes</h4>
<div class="ui icon input" id="abId0.35340520332811876" abineguid="F79FEA1EF9E44E9F80F28A95AF6E9CC2">
  <input type="text" ng-model="searchBox" placeholder="Search Me...">
  <i class="search link icon"></i>
</div><br><br>

<div class="mix-content">
  <!-- <button class="sort-likes" ng-repeat="mix in mixes | filter:liked_mixes | orderBy: liked_mixes.count">Filter By Likes</button> -->
  <button class="ui compact sort-likes" ng-click="mostLikedMixes(mixes)" >Filter By Likes</button>
<section class="mix-card">
    <div class="ui card" >

      <div class="content" ng-repeat="mix in mixes | filter:searchBox" >

        <a ng-click="getMix(mix.id)">
         <div ng-view="mix" >
           <div class="dj-card">
             <div class="image">
               <img ng-src="http://localhost:3000/{{mix.mix_image}}" style="width:100px;height:100px;" alt=""></div>
             </div><!--image-->
            <br>
           <div class="artist-name"><h5>{{mix.dj.dj_name}}</h5></div>
             <div class="mix-info">
               <h3>{{mix.mix_title}}</h3></a>
             </div><!--mix-info-->
  <!-- J-player controls -->
             				<div class="jp-controls">
             					<button class="ui compact icon button" role="button" tabindex="0"><i class="play icon"></i></button>
                       <button class="ui compact button" role="button" tabindex="1"><i class="pause icon"></i></button>
                    </div>
                    <br>
                  <a><i class="thumbs outline up icon" ng-click="plusOne(mix)" ></i> {{mix.liked_mixes.length}}</a></div>

             		</div>
              </div>
             </div>
   </div><!--div-content-->
 </div><!--ui-Card-->
</section><!--mix-card-->
