<h4>Mixes</h4>

<section class="mix-card">
    <div class="ui card" >
      <div ng-repeat="mix in mixes | filter:searchBox" class="content">
        <a href="#" ng-click="getMix(mix.id)" ui-sref="home.track({ mixTitle: replaceSpaces(mix.mix_title), mixId: mix.id})">
         <div ng-view="mix" class="meta">
           <div class="dj-card">
             <div class="image">
               <img ng-src="http://localhost:3000/{{mix.mix_image}}" style="width:100px;height:100px;" alt=""></div>
             </div><!--image-->
             <div class="mix-info">
               <h3>{{mix.mix_title}}</h3>
             </div><!--mix-info-->
              <div class="likes">
                <a><i class="thumbs outline up icon" ng-click="plusOne($index)"></i> {{mix.liked_mixes.length}}</a>
              </div><!--likes-->
                  <h5>{{mix.dj.dj_name}}</h5>

       </div><!--Card-->
</section>

<!-- block -->
