<h4>New Track</h4>

<form name="addMix" ng-submit="ctrl.submit()" >
    <div class="form-group2"><br>
      <p>Title:<input type="text" name="input" ng-model="ctrl.mix.mix_title"  required></p>
         Artist:
         <select ng-model="dj.dj_name"><option ng-repeat="dj in ctrl.djs" ng-value="{{ dj.id }}" required >{{dj.dj_name }}</option>
         </select>
    </div>
<br>
    <div class="file-dragndrop-over" dragNDdrop files-to-upload="files">
      <span>drop mp3 file here</span>
    </div>
    <div >
      <div ng-repeat="file in files">
        <div class="mp3-preview-container"><span class="remove" ng-click="remove($index)">X</span>
          <img ng-src={{file.preview}} class="img-thumbnail">
        </div>
        <div>Name: {{file.name}}</div>
        <div>Size {{file.size / 1024 | number:2}} KB</div>
      </div>
    </div>
     <input id="save" type="submit"  class="ui mini secondary basic button"></button>
</form>
