<h4>New Track</h4>
<div ng-controller="NewMixController as NewMixController">
    <form name="addMix" >
        <div class="form-group2"><br>
          <p>title:<input type="text" name="input" ng-model="mix.mix_title"  required="true"></p>
             <select ng-model="dj.dj_name"><option ng-repeat="dj in djs" ng-value="{{ dj.id }}"  required="true">{{dj.dj_name }}</option>
             </select>
        </div>
         <button input type="submit" ng-click="submitForm()" class="ui mini secondary basic button">Submit</button>
    </form>
  </div>
