<h4>{{ artist }}</h4>

<h4>Artists</h4>

<section class="dj-card">
    <div class="ui card" >
      <div ng-repeat="dj in djs | filter:searchBox" class="content">
        <a href="#" ng-click="getDj(dj.id)" ui-sref="home.artist({ DjName: replaceSpaces(dj.dj_title), djId: dj.id})">
         <div ng-view="dj" class="meta">
           <div class="dj-card">


           <div class="image">
             <img ng-src="http://localhost:3000/{{dj.dj_image}}" style="width:150px;height:150px;" alt=""></div>
              <div class="dj-info">
                  <h3>{{dj.dj_name}}</h3>
              </div>
              <!-- <div class="likes">
                <a>
                  <i class="thumbs outline up icon" ng-click="plusOne($index)"></i> {{mix.liked_mixes.length}}
                </a>
              </div>
                  <h5>{{mix.dj.dj_name}}</h5>


              </div> -->
              <div class="container">
                </div>
              </div>
           </div>
         <!-- <div class="extra-content">
           <a>
             <i class="thumbs outline up icon">{{mix.liked_mixes}}</i>
           </a>
        </div> -->
       </div><!--Card-->
</section>
