<div class="ui secondary menu">
  <a href="/" class="item" ui-sref-active="active">Home<span class="sr-only"></span></a>
    <a class="item" href="#" ui-sref="home.about"  ui-sref-active="active">About <span class="sr-only"></span></a>
    <a class="item" href="#" ui-sref="home.artists"  ui-sref-active="active">Artists <span class="sr-only"></span></a>
    <a class="item" href="#" ui-sref="home.new"  ui-sref-active="active">New Track <span class="sr-only"></span></a>

  <div class="right menu" id="abId0.43591901674613154">
    <div class="greeting"> Hi, {{ vm.user.username}} </div>
    <button ng-click="vm.logout()" name="logout">logout</button>
    <div class="item" id="abId0.5321512046600605">
      <div class="ui transparent icon input" id="abId0.35340520332811876" abineguid="F79FEA1EF9E44E9F80F28A95AF6E9CC2">
        <input type="text" ng-model="searchBox" placeholder="Search Me...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>
<div class="ui raised very padded text container segment1">
  <div class="ui message">
    <div class="header">
      <h6>Welcome to...</h6>
       CROSSFADR
      <h6>Your source for the hottest dance music!</h6>
    </div><!--header-->
      <p><a class="ui secondary basic button" href="#" ui-sref="home.tracks" role="button" ui-sref-active="active" >Listen<span class="sr-only"></span></a></p></button>
  </div><!--ui-message-->
  <div class="ui raised very padded text container segment 2">
     <div class="ui container">
       <ui-view></ui-view>
     </div>
  </div>
</div> <!--segment>
