/*
 *= require_tree .
 *= require_self
*/



.mix-content {
  column-rule-style: outset;
  column-rule-width: 25px;
  column-rule-style: outset;
    column-span: 209px;
}

.mix-card {
  -moz-column-count:2;
  -moz-column-gap: 2;
  -webkit-column-count: 2;
  -webkit-column-gap: 2;
  column-count: 2;
  column-gap: 2px;



}

// .meta{
//   padding: 0px;
// }

.dj-card {
  border: 200px;
  width: 200px;
  padding: 0px;
  border-radius: 100%;
  position: relative;
}

.ui-secondary-menu {
  padding: 200px
}

.artist-name {
 padding-left: 1px;
}

.mix-info {
  float: left;
}

.jp-controls{
  padding-left: 5px;
  float:left;

}

.jp-gui-jp-interface {
  padding-left: 5px;
  float:left;
}

.ui.card {
  padding-left: 5px;
  float: right;
}

.ui-raised-very-padded-text-container-segment1 {
  // padding : 1em;
  // width: 100%;
  // height: 200px;
  // box-sizing: border-box;
  //
  // /* At the bottom of our background stack,
  //    let's have a misty grey solid color */
  // background-color: #E4E4D9;
  //
  // /* We stack linear gradients on top of each
  //    other to create our color strip effect.
  //    As you will notice, color gradients are
  //    considered to be images and can be
  //    manipulated as such */
  // background-image: linear-gradient(175deg, rgba(0,0,0,0) 95%, #8da389 95%),
  //                   linear-gradient( 85deg, rgba(0,0,0,0) 95%, #8da389 95%),
  //                   linear-gradient(175deg, rgba(0,0,0,0) 90%, #b4b07f 90%),
  //                   linear-gradient( 85deg, rgba(0,0,0,0) 92%, #b4b07f 92%),
  //                   linear-gradient(175deg, rgba(0,0,0,0) 85%, #c5a68e 85%),
  //                   linear-gradient( 85deg, rgba(0,0,0,0) 89%, #c5a68e 89%),
  //                   linear-gradient(175deg, rgba(0,0,0,0) 80%, #ba9499 80%),
  //                   linear-gradient( 85deg, rgba(0,0,0,0) 86%, #ba9499 86%),
  //                   linear-gradient(175deg, rgba(0,0,0,0) 75%, #9f8fa4 75%),
  //                   linear-gradient( 85deg, rgba(0,0,0,0) 83%, #9f8fa4 83%),
  //                   linear-gradient(175deg, rgba(0,0,0,0) 70%, #74a6ae 70%),
  //                   linear-gradient( 85deg, rgba(0,0,0,0) 80%, #74a6ae 80%);

}


 .ui-raised-very-padded-text-container-segment2 {


 }

 .ui.padded.segment {

 }

 .mix-info {
  padding-left: 10px;
  float: left;
 }

 .ng-binding {
   float: right;
 }

 .ui-card {
  padding-left: 5px;
  float: right;
 }

 .form-group p {
   border: 2px;
   width: 250px;

 }

 .image {
   float: left;
 }

 // .new-image-container {
 //   width: 250px;
 //   margin-top: 30px;
 // }
 //
 // .new-image {
 //   border: 2px;
 //   text-align: center;
 //   width: 250px;
 // }
 //
 // .mp3-preview-container {
 //   width: 250px;
 //   margin-top: 30px;
 // }
 //
 // .file-name {
 //   font-family: Arial;
 // }
 // .textarea {
 //   border: 2px dashed #ddd;
 //   width: 250px;
 //   margin-top: 30px;
 //   margin-bottom: 30px;
 // }
 //
 // .file-drop-zone {
 //   border: 2px dashed #ddd;
 //   padding: 30px;
 //   text-align: center;
 //   width: 250px;
 // }
 //
 // .file-drop-zone-over {
 //   border: 2px dashed #aaa;
 //   padding: 30px;
 //   text-align: center;
 //   width: 250px;
 // }
 //
 // .remove {
 //   float: right;
 //   color: green;
 // }
 //
 // .remove:hover {
 //   color: red;
 //   cursor: pointer;
 //   font-size: 25px;
 // }
